body {
  background-color: black;
  background-size: 100vw;
  height: 100vh;
}
.rebon {
  position: absolute;
  top: 117px;
  left: calc(50% - 275.5px);
  width: 551px;
  height: 52.06px;
}
.blackphoto {
  position: absolute;
  top: 75px;
  left: calc(50% - 60.5px);
  width: 121px;
  height: 121px;
}
.animation {
  position: absolute;
  top: 214.18px;
  left: calc(50% - 298px);
  width: 596px;
  height: 596px;
}
.nextpage {
  position: absolute;
  top: 82px;
  right: 0px;
  width: auto;
  height: 25px;
  text-decoration: none;
  color: #828282;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
}
.nextpage:hover {
  color: #fff4cb;
}
.nextpage:active {
  color: #c5c5c5;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes caret {
  50% {
    border-color: transparent;
  }
}
.content {
  width: 596px;
  height: 130px;
  position: absolute;
  display: flex;
  justify-items: center;
  left: calc(50vw - 298px);
  top: 835px;
}
h1 {
  width: 217px;
  height: 48px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  overflow: hidden;
  border-right: 0.05em solid;
  white-space: nowrap;
  animation: typing 1s steps(9), caret 1s steps(1) infinite;
}
h2 {
  position: absolute;
  top: 42px;
  width: 175px;
  height: 48px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  overflow: hidden;
  border-right: 0.05em solid;
  white-space: nowrap;
  animation: typing 1s steps(16), caret 1s steps(1) infinite;
}
h3 {
  width: 121px;
  height: 48px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  overflow: hidden;
  border-right: 0.05em solid;
  white-space: nowrap;
  animation: typing 1.5s steps(5), caret 1s steps(1) infinite;
}
h4 {
  position: absolute;
  top: 42px;
  width: 219px;
  height: 48px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  overflow: hidden;
  border-right: 0.05em solid;
  white-space: nowrap;
  animation: typing 1.5s steps(19), caret 1s steps(1) infinite;
}
h5 {
  width: 241px;
  height: 48px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  overflow: hidden;
  border-right: 0.05em solid;
  white-space: nowrap;
  animation: typing 1s steps(10), caret 1s steps(1) infinite;
}
h6 {
  position: absolute;
  top: 42px;
  width: 207px;
  height: 48px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  overflow: hidden;
  border-right: 0.05em solid;
  white-space: nowrap;
  animation: typing 1s steps(20), caret 1s steps(1) infinite;
}
h7 {
  width: 241px;
  height: 48px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  overflow: hidden;
  border-right: 0.05em solid;
  white-space: nowrap;
  animation: typing 1.5s steps(10), caret 1s steps(1) infinite;
}
h8 {
  position: absolute;
  top: 42px;
  width: 450px;
  height: 48px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  overflow: hidden;
  border-right: 0.05em solid;
  white-space: nowrap;
  animation: typing 1.5s steps(42), caret 1s steps(1) infinite;
}
